@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #011729;
  --foreground: #FDFFFC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #011729;
    --foreground: #FDFFFC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-style: var(--foreground);
}